node_modules
public
.tmp
.sass-cache
.idea

client/index.html
dist
/client/config/local.js
/server/config/local.js
npm-debug.log
package-lock.json
coverage

.DS_Store
.tern-project

.project
.settings
.vscode
